<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Head with links and settings -->
		<%- include('../templates/head')%>
		<title>IDQ - Ver Usuarios</title>
	</head>
	<body>
		<%- include('../templates/navbar')%>

		<div class="container mt-3">
			<h1>Ver Usuarios</h1>
			<!-- Show a list with all documwents -->
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Imagen</th>
						<th scope="col">Nombre</th>
						<th scope="col">Email</th>
						<th scope="col">Usuario</th>
                        <th scope="col">Ver Documentos</th>
                        <th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>1</th>
						<td><img src="https://pbs.twimg.com/media/FLH8SgLXsAMYGSH.jpg"  width="20%"></td>
                        <td>Miguel Angel Diosdado Rodriguez</td>
                        <td>angeldr.ti21@utsjr.edu.mx</td>
                        <td>angel</td>
                        <td>
                            <a
                                href="./pages/admin/viewDocuments/idq"
                                >Ver documentos</a
                            >
                        </td>
                        <td>
                            <a
                                href="./documents/remove/user/idq"
                                class="text-danger"
                                >Eliminar</a
                            >
                        </td>
					</tr>
                    <tr>
						<th>1</th>
						<td><img src="https://pbs.twimg.com/media/FLH8SgLXsAMYGSH.jpg" width="20%"></td>
                        <td>Miguel Angel Diosdado Rodriguez</td>
                        <td>angeldr.ti21@utsjr.edu.mx</td>
                        <td>angel</td>
                        <td>
                            <a
                                href="./pages/admin/viewDocuments/idq"
                                >Ver documentos</a
                            >
                        </td>
                        <td>
                            <a
                                href="./documents/remove/user/idq"
                                class="text-danger"
                                >Eliminar</a
                            >
                        </td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Footer -->
		<%- include('../templates/footer')%>
	</body>
</html>
