<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Head with links and settings -->
		<%- include('templates/head')%>
		<title>IDQ - INICIO</title>
	</head>
	<body>
		<h1>Index</h1>

		<!-- Footer -->
		<%- include('templates/footer')%>
	</body>
</html>
